#MacOS
.DS_Store

#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Qt
*.pro.user*
ui_*.h
build*Desktop*
html/models*

#emacs
*~
