name: Linux

on:
  [push, pull_request]

jobs:
  linux_build:
    name: Build Nexus (Linux)
    runs-on: ubuntu-18.04 #in order to deploy, need to use oldest supported version
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
    - name: Install dependencies
      run: |
       sudo apt-get install -y mesa-common-dev libglu1-mesa-dev libglew-dev
       #cd src/draco
       #mkdir build
       #cd build
       #cmake ../ -DCMAKE_INSTALL_PREFIX=../
       #make install
       #cd ../../..
       cd ..
       git clone --single-branch --branch devel https://github.com/cnr-isti-vclab/vcglib
    - name: Configure and Build
      shell: bash
      run: |
        mkdir build
        cd build
        cmake ..
        make -j4 VERBOSE=1
